*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1a0b05;
    color: white;
    font-family: sans-serif;
    padding-top: env(safe-area-inset-top);
}
/***********/
/* Nav */
/***********/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bars{
    background: #5e3727;
    box-shadow: 0px 0px 10px #5e3727;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.bars i{ 
    background: transparent;
    font-size: 1.3rem;
}
.user-greet{
    font-size: 0.6rem;
    opacity: 70%;
}
.user-name{
    margin-top: 0.2em;
    font-size: 1.5rem;
    width: fit-content;
}
.nav-pfp{
    background-color: #6b4e3d;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 1em;
}

/***********/
/* Coffee Message */
/***********/
.coffee-message{
    font-size: 1.6rem;
    width: fit-content;
    margin-left: 0.5em;
    margin-top: 0.3em;
}
.start-day{
    font-weight: bold;
}
.right-coffee{
    text-decoration:solid;
    font-style: italic;
    opacity: 70%;
}

/***********/
/*  INPUT */
/***********/
.input-container{
    width: 90%;
    height: 55px;
    border: 1px solid #5e3727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    border-radius:3em;
    margin: 2em auto;
}
.coffee-inp{
    font-size: 1.2rem;
    border: none;
    outline: none;
    width: 90%;
    padding: 0.5em;
    color: white;
    background: transparent;
}
.input-container i{
    font-size: 1.6rem;
    opacity: 60%;
    cursor: pointer;
}

/***********/
/*  Coffee Cards */
/***********/
#coffeeCards-container{
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    margin: 1em;
}
.coffee-card{
    background-color: #6b4e3d;
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    padding: 1em;
    cursor: pointer;
}
.coffeeCard-img{
    margin-bottom: 0.5em;
    background: transparent;
    width: 70px;
    height: 70px;
}
.coffee-card p{
    font-size: 0.8rem;
    background: transparent;
    width: fit-content;
}

/***********/
/*  Coffee Menus */
/***********/
.todays-deal{
    width: fit-content;
    font-size: 1.4rem;
    margin: 1.3em 0 0 1.25em;
}
.menu-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 2em;
    background: #22140d;
    border-radius: 1em;
    cursor: pointer;
    height: 130px;
    box-shadow: 0px 0px 5px black;
}
.menuFlexOne{
    display: flex;
}
.foodDetails-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.foodDetails-flexTwo{
    padding: 1em;
    line-height: 1.5;
}
.food-img{
    width: 110px;
    height: 127px;
    border-radius: 1em;
    padding: 0.05em;
}
.fa-star{
    color: #cd7740;
}
.food-details{
    opacity: 40%;
    line-height: 0.9;
}
.food-price{
    font-size: 1rem;
    margin-top: 0.3em;
}
.menuFlexTwo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.menuFlexTwo i{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}
.heart{
    width: 10px;
    height: 10px;
    border-radius: 1em;
    background-color: #6b4e3d;
    border:1px solid;
}
.plus{
    background: #cd7740;
    width: 10px;
    height: 10px;
    border-radius: 1em;
    border:1px solid;
}









/***********/
/*  Menus Details PAGE */
/***********/


i{
    cursor: pointer;
    color: antiquewhite;
}
/***********/
/* Back and Like icons */
/***********/
.backLike-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 1em;
}
.backLike-iconDiv{
    background-color: #311d14;
    padding: 1em;
    border-radius: 50%;
}
/***********/
/* Food Image */
/***********/
.bg-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
/***********/
/* Food Details */
/***********/

/* Food name and price */
.details-flexOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}
.food-inDetails{
    line-height: 1.3;
}
.ratings-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
}
.fa-star{
    color: #cd7740;
}
.reviews{
    opacity: 40%;
    font-size: 0.8rem;
}
.menu-name{
    font-size: 1.6rem;
}
.key-ingredient{
    opacity: 40%;
    line-height: 0.9;
}
.price-p{
    opacity: 40%;
    font-size: 0.9rem;
    margin-bottom: 0.2em;
}
.menu-price{
    font-size: 1.5rem;
    color: #cd7740;
}

/* Food Description */

.description-p{
    width: fit-content;
    margin: 0.5em 1em;
}
.details-two{
    margin: 1em;
}
.initial-text{
    margin: 0 1em;
    opacity: 50%;
    font-size: 0.9rem;
}
#ch {
    display: none;
}
#ch:checked ~ .content{
    display: block;
}
#ch:checked ~ label{
    display: none;
}
#ch:checked ~ .initial-text{
    display: none;
}
.full-text{
    opacity: 50%;
    font-size: 0.9rem;
    margin: 0 1em;
}
.content{
    display: none;
}
label{
    display: inline-block;
    cursor: pointer;
    color: #cd7740;
    background-color: #1a0b05;
    padding: 3px 13px;
    margin-top: 12px;
    border-radius: 4px;
}
/***********/
/* Dropdown Menus */
/***********/
.dropdown-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1em;
    gap: 1em;
}

.select{
    background-color: #22140d;
    box-shadow: 0px 0px 3px #cd7740;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1em;
    cursor: pointer;
    transition:background 0.3s;
    width: 150px;
    padding: 1em;
}
.select-clicked{
    border: 2px solid #cd7740;
    box-shadow: 0 0 0.8em #22140d;
}
.select:hover{
    background-color: #22140d;
}
.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid white;
    transition: 0.3s;
}
.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style:none;
    display: none;
    padding: 0.2em 0.5em;
    background: #22140d;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 1em;
    color: white;
    transition: 0.2s;
    z-index: 1;
    margin-top: 0.5em;
}
.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}
.menu li:hover{
    background: #cd7740;
}
.active{
    background-color: #cd7740;
}
.menu-open{
    display: block;
    opacity: 1;
}


/***********/
/* Quantity and Buy now Button */
/***********/
.qntDiv-flex{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}
.qntDiv-flex span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #311d14;
    box-shadow: 0px 0px 5px black;
    width: 130px;
    height: 50px;
    border-radius: 2em;
    padding:  0.2em;
}
.spanDivs{
    background-color: #1a0b05;
    border-radius: 50%;
    padding: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgoldenrodyellow;
}

.buyNow-btn{
    width: 180px;
    border: none;
    border-radius: 2em;
    background:#cd7740;
    font-size: 1.4rem;
    color: antiquewhite;
    cursor: pointer;
}