*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1a0b05;
    color: white;
    font-family: sans-serif;
    padding-top: env(safe-area-inset-top);
}

/***********/
/* Nav */
/***********/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bars{
    background: #5e3727;
    box-shadow: 0px 0px 10px #5e3727;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.bars i{ 
    background: transparent;
    font-size: 1.3rem;
}
.user-greet{
    font-size: 0.6rem;
    opacity: 70%;
}
.user-name{
    margin-top: 0.2em;
    font-size: 1.5rem;
    width: fit-content;
}
.nav-pfp{
    background-color: #6b4e3d;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 1em;
}

/***********/
/* Coffee Message */
/***********/
.coffee-message{
    font-size: 2rem;
    width: fit-content;
    margin-left: 0.5em;
    margin-top: 0.3em;
}
.start-day{
    font-weight: bold;
}
.right-coffee{
    text-decoration:solid;
    font-style: italic;
    opacity: 70%;
}

/***********/
/*  INPUT */
/***********/
.input-container{
    width: 90%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-left: 1em;
    padding-right: 1em;
    border-radius:2em;
    margin: 2em auto;
    opacity: 80%;
}
.coffee-inp{
    border: none;
    outline: none;
    width: 90%;
    padding: 0.5em;
    color: white;
    font-weight: bold;
}
.input-container i{
    cursor: pointer;
}