*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1a0b05;
    color: white;
    font-family: sans-serif;
    padding-top: env(safe-area-inset-top);
}
/***********/
/* Nav */
/***********/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bars{
    background: #5e3727;
    box-shadow: 0px 0px 10px #5e3727;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.bars i{ 
    background: transparent;
    font-size: 1.3rem;
}
.user-greet{
    font-size: 0.6rem;
    opacity: 70%;
}
.user-name{
    margin-top: 0.2em;
    font-size: 1.5rem;
    width: fit-content;
}
.nav-pfp{
    background-color: #6b4e3d;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 1em;
}

/***********/
/* Coffee Message */
/***********/
.coffee-message{
    font-size: 1.6rem;
    width: fit-content;
    margin-left: 0.5em;
    margin-top: 0.3em;
}
.start-day{
    font-weight: bold;
}
.right-coffee{
    text-decoration:solid;
    font-style: italic;
    opacity: 70%;
}

/***********/
/*  INPUT */
/***********/
.input-container{
    width: 90%;
    height: 55px;
    border: 1px solid #5e3727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    border-radius:3em;
    margin: 2em auto;
}
.coffee-inp{
    font-size: 1.2rem;
    border: none;
    outline: none;
    width: 90%;
    padding: 0.5em;
    color: white;
    background: transparent;
}
.input-container i{
    font-size: 1.6rem;
    opacity: 60%;
    cursor: pointer;
}

/***********/
/*  Coffee Cards */
/***********/
#coffeeCards-container{
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    margin: 1em;
}
.coffee-card{
    background-color: #6b4e3d;
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    padding: 1em;
    cursor: pointer;
}
.coffeeCard-img{
    margin-bottom: 0.5em;
    background: transparent;
    width: 70px;
    height: 70px;
}
.coffee-card p{
    font-size: 0.8rem;
    background: transparent;
    width: fit-content;
}

/***********/
/*  Coffee Menus */
/***********/
.todays-deal{
    width: fit-content;
    font-size: 1.4rem;
    margin: 1.3em 0 0 1.25em;
}
.menu-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 2em;
    background: #22140d;
    border-radius: 1em;
    cursor: pointer;
    height: 130px;
    box-shadow: 0px 0px 5px black;
}
.menuFlexOne{
    display: flex;
}
.foodDetails-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.foodDetails-flexTwo{
    padding: 1em;
    line-height: 1.5;
}
.food-img{
    width: 110px;
    height: 127px;
    border-radius: 1em;
    padding: 0.05em;
}
.fa-star{
    color: #cd7740;
}
.food-details{
    opacity: 40%;
    line-height: 0.9;
}
.food-price{
    font-size: 1rem;
    margin-top: 0.3em;
}
.menuFlexTwo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.menuFlexTwo i{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}
.fa-heart{
    width: 10px;
    height: 10px;
    border-radius: 1em;
    background-color: #6b4e3d;
    border:1px solid;
}
.fa-plus{
    background: #cd7740;
    width: 10px;
    height: 10px;
    border-radius: 1em;
    border:1px solid;
}